.toolbar{
    background-image: linear-gradient(to right, rgba(27, 26, 26, 0.876), rgb(69, 21, 88));
    height: 8vh;
    width: 100%;
    position: relative;
    display: inline-block;
    box-shadow: 1px 2px rgba(42, 40, 40, 0.479);
    
}
.title{
    background-image: linear-gradient(to right, rgb(36, 125, 241), rgb(9, 198, 255) 50%, rgb(15, 235, 143));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    font-size: 7vh;
    font-style: italic;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    
    text-shadow: 1px 4px rgba(0, 0, 0, 0.089);
    position: absolute;
    left: 0%;
    
}
.buttons{
    background-color:  rgb(86, 29, 109);
    color: rgb(243, 240, 240);

    border-radius: 4px;
    margin-right: 6px;
    margin-top: 18px;
    float: right;

    
    font-size: 16px;
    

    cursor: pointer;

    transition:  0.4s ease;

    border: 1px solid black;
    padding: 0.5%;
}

.DisabledButton{
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}

.buttons:hover{
    transform: translateY(-3px);
    box-shadow: 0 12px 16px 0 rgba(243, 240, 240, 0.363), 0 17px 50px 0 rgba(231, 230, 230, 0.19);
}

.SliderText{
    
    margin-left: 50%;

    font-size: large;

    color:rgb(238, 238, 238);
    background-color:transparent
}

.Slider{
    
    margin-top: 30px;
    margin-left: 10px;
}